{% extends 'core/staff_base.html' %} 
{% load static %}



{% block scripts %}
<script src="{% static 'plugin/libs/sweetalert2/sweetalert2.min2.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Password</h4>

                <form action="" method="POST" id="change-password-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input class="form-control" name="old_password" type="password" id="old_password" required
                               placeholder="Enter your old password"/>
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input class="form-control" name="new_password" type="password" id="new_password" required
                               placeholder="Enter your new password"/>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm New Password</label>
                        <input class="form-control" name="confirm_password" type="password" id="confirm_password"
                               required placeholder="Confirm your new password"/>
                    </div>

                    <p class="mt-2">
                        <a href="{% url 'staff-profile' %}">
                            <button type="button" class="btn btn-danger rounded-pill waves-effect waves-light m-1"><i class="fe-x me-1"></i> Cancel</button>               
                        </a>
                        <button type="submit" id="save-btn" class="btn btn-success rounded-pill waves-effect waves-light m-1"><i class="fe-check-circle me-1"></i> Save Record</button>
                    </p>  
                </form>
            </div>
        </div> 
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
     $("#change-password-form").submit(function (e) {
          e.preventDefault();
          // create an AJAX call
              let formData = new FormData(this);  // this includes files and text fields

          $.ajax({
            data: formData, // get the form data
            type: $(this).attr("method"), // GET or POST
            processData: false,   // very important!
            contentType: false,   // very important!
            url: "{% url 'staff-change-password'  %}",
            beforeSend: function () {
              //$('#login-spinner').show();
              $("#save-btn")
                .html(`Saving... <i class="fas fa-spinner ml-1"></i>`)
                .attr("disabled", "yes");
            },
            // on success
            success: function (response) {
              const { message, status, redirect_url } = response;

              if (status == "fail") {
                console.log(message);
                console.log(status);
                $("#save-btn").html(`Save Record`).removeAttr("disabled");
                Swal.fire("Oops", message, "warning");
              }
              if (status == "success") {
                let msg = "Profile Update successful, redirecting...";
                Swal.mixin({
                  toast: !0,
                  position: "top-end",
                  showConfirmButton: !1,
                  timer: 3e3,
                  timerProgressBar: !0,
                  onOpen: function (t) {
                    t.addEventListener("mouseenter", Swal.stopTimer),
                      t.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                }).fire({ icon: "success", title: message });

                setTimeout(function () {
                  // clear form & close modal, after that load Positions..
                  location.href = redirect_url;
                }, 3000);
                // $('#save-btn').html('Save Record').removeAttr('disabled')
              }
            },
            // on error
                error: function (xhr, status, error) {
                    $("#save-btn").html("Save Record").removeAttr("disabled");
                    let msg = "An unexpected error occurred. Please try again.";
                    let response = null;
                    try {
                    response = xhr.responseJSON;
                    if (response && response.message) {
                        msg = response.message;
                    }
                    } catch (e) {
                        console.erro(e)
                    }
                    Swal.fire("Oops", msg, "error");

                    const statusCode = xhr.status;
                    if (response && response.next_url) {
                        setTimeout(function () {
                            location.href = response.next_url;
                        }, 3000);
                    }
                },
          });
        });  
    })
</script>
{% endblock %}