{% extends "core/auth/auth_base.html" %}
{% load static %}
{% load widget_tweaks %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body">
             <div class="text-center w-75 m-auto">
                  <div class="auth-brand">

                    {% include 'core/auth/auth_brand.html' %}
                </div>
                </div>

          <h4 class="card-title mb-3 text-center">Set New Password</h4>
          {% if validlink %}
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="login" value="{{ request.GET.login }}">

              {% comment %} {{ form.new_password1.label_tag }} {% endcomment %}
              {{ form.new_password1|as_crispy_field}}
              {% comment %} {{ form.new_password2.label_tag }} {% endcomment %}
              {{ form.new_password2|as_crispy_field}}
              <div>
                 <button type="submit" class="btn btn-success w-100">Change Password</button>
              </div>
            </form>
          {% else %}
            <div class="alert alert-danger text-center">
              The password reset link is invalid, possibly because it was already used or expired.<br>
              <a href="{% url 'password_reset' %}">Request a new reset link</a>.
            </div>
          {% endif %}
        </div>
        
      </div>
    </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <p>
            {% if request.GET.login == "staff" %}
                <a href="{% url 'staff-login' %}">&larr; Back to Staff Portal Login</a>
            {% else %}
                <a href="{% url 'login' %}">&larr; Back to Admin Login</a>
            {% endif %}          
                </p>

              </div>
              <!-- end col -->
            </div>    
  </div>
</div>
{% endblock %}
